:root {
  --primary-color: #3B4CCA;
  --secondary-color: #FFDE00;
  --detail-color: #CC0000;
  --base-size: 16px;
  --header-footer-size: 48px;
  --square-picture: 100px;
}


html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

header,
footer {
  background-color: var(--primary-color);
  padding: var(--header-footer-size);
  text-align: center;
}

h1 {
  color: var(--secondary-color);
}

a,
h3 {
  color: #FFDE00;
}

p {
  margin-top: calc(var(--base-size) / 2);;
}

.picture {
  background-color: var(--detail-color);
  border: 1px solid var(--primary-color);
  height: var(--square-picture);
  margin-top: calc(var(--base-size) / 2);;
  width: var(--square-picture);
}

.name {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 50px;
  padding: var(--base-size);
  text-align: center;
  justify-content: center;
  width: 300px;
}

.user-input {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

.form button {
  margin-top: calc(var(--base-size) / 2);
}